<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 系统名称 -->
    <add key="SoftwareName" value="GGTalk"/>    
    <!--ESFramework服务器监听的端口-->
    <add key="Port" value="4530"/>    
    
    <!--数据库相关信息配置-->
    <!--使用内存虚拟数据库-->
    <add key="UseVirtualDB" value="true"/>
    <!--数据库类型：SqlServer、MySQL-->
    <add key="DBType" value="SqlServer"/>
    <!--数据库名称-->
    <add key="DBName" value="GGTalk"/>
    <!--数据库IP-->
    <add key="DBIP" value="127.0.0.1"/>
    <!--数据库Port，SqlServer默认为1433-->
    <add key="DBPort" value="1433"/>
    <!--数据库sa或root的密码-->
    <add key="SaPwd" value="123qwe"/>
    
    <!-- ************************* OMCS 配置 ***************************** -->
    <!--OMCS服务器监听的端口-->
    <add key="OmcsPort" value="9900"/>     
  </appSettings>

  <system.runtime.remoting>
    <application>
      <channels>
        <!--用户注册Remoting服务端口-->
        <channel ref="tcp" port="4500" >
          <serverProviders>
            <provider ref="wsdl" />
            <formatter ref="soap" typeFilterLevel="Full" />
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
          <clientProviders>
            <formatter ref="binary" />
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>