<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--ESFramework服务器IP 127.0.0.1-->
    <add key="ServerIP" value="127.0.0.1"/>
    <!--ESFramework服务器端口-->
    <add key="ServerPort" value="4530"/>
    <!--用户注册Remoting服务端口-->
    <add key="RemotingPort" value="4500"/>    
    <!--OMCS服务器端口-->
    <add key="OmcsServerPort" value="9900"/>

    <!-- 系统名称 -->
    <add key="SoftwareName" value="GGTalk 2018"/>
  </appSettings> 
 
</configuration>
